server:
  port: 8081

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/orderdb
    username: postgres
    password: postgresql

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  data:
    mongodb:
      url: mongodb://localhost:27017/order_events

  kafka:
    bootstrap-servers: localhost:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: io.confluent.kafka.serializers.KafkaAvroSerializer
    properties:
      schema.registry.url: http://localhost:8081
